<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DualTalesApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DualTales"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".ui.screens.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screens.Onboarding1Activity"
            android:exported="false" />

        <activity
            android:name=".ui.screens.Onboarding2Activity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".ui.screens.CreateStep1Activity"
            android:exported="false" />

        <activity
            android:name=".ui.screens.CreateStep2Activity"
            android:exported="false" />

        <activity
            android:name=".ui.screens.CreateStep3Activity"
            android:exported="false" />

        <activity
            android:name=".ui.screens.CreateStep4Activity"
            android:exported="false" />

        <activity
            android:name=".ui.screens.LoadingActivity"
            android:exported="false" />

        <activity
            android:name=".ui.screens.ReadingActivity"
            android:exported="false" />

        <activity
            android:name=".ui.screens.ReadingSettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.screens.SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".ui.screens.SimpleCreateActivity"
            android:exported="false" />

        <activity
            android:name=".ui.screens.VoiceInputActivity"
            android:exported="false" />
    </application>

</manifest>